<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VoucherExpense.Properties.Settings.DamaiConnectionString" connectionString="Provider=SQLOLDB; Data Source=.;Initial Catalog=Bakery;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
        <add name="BakeryOrder.Properties.Settings.BakeryOrderConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\BakeryOrder.mdb;Persist Security Info=True;Jet OLEDB:Database Password=" providerName="System.Data.OleDb" />
        <add name="BakeryOrder.Properties.Settings.BakeryOrderSqlConnectionString" connectionString="Data Source=LIUYANXU-PC;Initial Catalog=Bakery;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
    <add name="MemberDBEntities" connectionString="metadata=res://*/ModelMember.csdl|res://*/ModelMember.ssdl|res://*/ModelMember.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LIUYANXU-PC;initial catalog=WheatDB;user id=sa;password=123456;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>