<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!--  <add name="BakeryOrder.Properties.Settings.BakeryOrderConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\BakeryOrder.mdb;Persist Security Info=True;Jet OLEDB:Database Password="
            providerName="System.Data.OleDb" />-->
      <add name="VoucherExpense.Properties.Settings.DamaiConnectionString"
  connectionString="Provider=SQLOLDB; Data Source=.;Initial Catalog=Bakery;Persist Security Info=True;User ID=sa;Password=123456"
  providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>