<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BakeryOrder.Properties.Settings.BasicDataConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=BasicData.mdb;Persist Security Info=True;Jet OLEDB:Database Password=loveyou"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>