<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SyncCloud.Properties.Settings.DamaiConnectionString"
            connectionString="Data Source=ALEXSUPER-PC;Initial Catalog=Damai;Persist Security Info=True;User ID=VoucherExpense;Password=CalcVoucher888"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>