<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GetMoney.Properties.Settings.GetMoneyConnectionString"
            connectionString="Data Source=alexwell-pc;Initial Catalog=GetMoney;Persist Security Info=True;User ID=sa;Password=CalcVoucher888"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>