<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WheatEntities" connectionString="metadata=res://*/MemberModel.csdl|res://*/MemberModel.ssdl|res://*/MemberModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LIUYANXU-PC;initial catalog=Wheat;user id=sa;password=123456;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Member.Properties.Settings.WheatConnectionString"
      connectionString="Data Source=LIUYANXU-PC;Initial Catalog=Wheat;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>